* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

html,
button,
input.sample,
textarea {
    color: #9c9c9c;
}
body {
    background: #ffffff;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: normal;
    font-size: 13px;
    line-height: 1.7;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #000000;
}

h1{
    font-size: 35px;
    margin-bottom: -7px;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 0;
    color: #000000;
}


h3{
    font-size: 24px;
    font-weight: 700;
}

h4{
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: -10px;
}

h5{
    font-size: 14px;
    font-weight: bold;
    margin-bottom: -10px;
}

::-moz-selection {
    background: #0dac8b;
    text-shadow: none;
}

::selection {
    background: #0dac8b;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

a, a:visited{
    text-decoration: none;
    color: #000000;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

section a, section a:visited{
    text-decoration: none;
    color: #0dac8b;
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
}

.green{
    color: #0dac8b;
}

ul, ol{
    padding: 0;
    margin: 0;
}

ul li{
    list-style: none;
    list-style-position: outside;
    margin:0;
    padding:0;
}

dl, dl dt, dl dd{
    margin: 0;
    padding: 0;
    color: #000000;
    font-size: 13px;
}

dl dt{
    font-weight: bold;
    font-size: 14px;
}

dl dd{
    margin-bottom: 20px;
    width: 90%;
    color: #191919;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

section{
    width:100%;
    margin: 0;
    padding:0;
    /*min-height: 100%;*/
}

/*==========  Header styles ==========*/

section#header{
    background: #f5f5f5;
    border-top: 5px solid #0dac8b;
    height: 132px;
}

#header .logo{
    margin: 45px 0 0 2px;
    display: inline-block;
    float: left;
}

#header nav{
    float: right;
    display: inline-block;
    margin-top: 50px;
}

#header nav ul li{
    float: left;
    display: inline;
    padding:5px 4px 4px 4px;
    margin-left: 12px;
    -moz-transition: 0.3s background-color;
    -webkit-transition: 0.3s background-color;
    transition: 0.3s background-color;
    cursor: pointer;
}

#header nav ul li.active, #header nav ul li:hover{
    background: #0dac8b;
}
#header nav ul li:last-child.active {
    background: #000!important;
}

#header nav ul li.active a, #header nav ul li:hover a{
    color: #ffffff;
    font-weight: 400;
}

#header nav ul li a{
    padding: 4px;
}

/*==========  Map styles ==========*/

section#map{
    background: #ffffff;
    padding: 40px 0;
}


/*==========  Announcement styles ==========*/
section#announcements{
    background: #0dac8b;
    min-height: 165px;
    padding: 10px 0 25px;
    color: #ffffff;
    font-size: 14px;
}
h5.announce-icon{
    background: url("../img/announce-icon.png") no-repeat;
    background-position-y: 6px;
    padding-left: 28px;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 0;
}

.container{
    width: 75%;
    height: auto;
    position: relative;
    margin:0 auto;
}

/*==========  About styles ==========*/

section#about{
    background: #f5f5f5;
    padding: 20px 0 0 0;
    color: #848484;
    font-size: 13px;
}

section#about .container{
    width: 830px;
    margin: 0 auto;
}

section#about ul li{
    width: 830px;
    padding: 0 0 20px 0;
    border-bottom: 1px solid #e5e5e5;
}

section#about ul li.one{
    background-image: url(../img/thumbsup-icon.png);
    background-repeat: no-repeat;
    background-position:20px 48px;
    padding-left: 120px;
}
section#about ul li.two{
    background-image: url(../img/scan-icon.png);
    background-repeat: no-repeat;
    background-position:20px 34px;
    padding-left: 120px;
}
section#about ul li.three{
    background-image: url(../img/money-icon.png);
    background-repeat: no-repeat;
    background-position:20px 26px;
    padding-left: 120px;
}
section#about ul li.four{
    background-image: url(../img/customer-icon.png);
    background-repeat: no-repeat;
    background-position:20px 39px;
    padding-left: 120px;
    border-bottom: none;
}


/*==========  Order styles ==========*/

section#order{
    background: #fff;
    padding: 50px 0;
}

#orderPreview table tr td {
    text-align: center;   
}

.FWC { /*Full Width Center */
    width: 100%;
    margin: 0 auto;
}

.button{
    display: block;
    height: 68px;
    line-height: 68px;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 24px;
    background: #0dac8b;
    -moz-transition: 0.3s all linear;
    -webkit-transition: 0.3s all linear;
    transition: 0.3s all linear;
}

.button:hover{
    background: #0a8f73;
}

#shoppingCart{
    float: right;
    width: 70%;
}

#orderForm, #shippingForm{
    float: left;
    width: 25%;
}

#payment{
    float: left;
    width: 50%;
}

#paymentInfo{
    float: right;
    width: 50%;
}

section#faq{
    background: #fff;
    padding: 20px 0 60px;
    color: #000;
    font-size: 12px;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

section#login table{
    margin: 0 auto;
    color: #000;
    font-size: 12px;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

section#login table td{
    vertical-align: baseline;
}

section#order{
    background: #fff;
    padding: 20px 0 60px;
    color: #000;
    font-size: 12px;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

section#confirm{
    background: #fff;
    padding: 20px 0 60px;
    color: #000;
    font-size: 12px;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
}

#tabs{
    margin-top: 20px;
}

#tabs ul li{
    float: left; 
    display: inline;
    cursor: pointer;
    background: #d7d7d7;
    margin-right: 3px;
}

#tabs ul li a{
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 18px;
    padding: 10px 24px;
    display: block;
}

#tabs ul li.ui-state-active{
    background: #0dac8b;
}

/* TABS 2 */
.sort{
    color: #000000;
    font-size: 18px;
    display: inline-block;
    padding:0!important;
    float: left;
    margin: 0px 10px 0 0;
}
#tabs2{
    margin-top: 10px;
}

#tabs2 ul li{
    float: left; 
    display: inline;
    cursor: pointer;
    margin-right: 15px;
    background: none!important;
}
#tabs2 ul li a::after{
    content: " • ";
    font-size: 18px;
    display: inline;
    margin-left: 10px;
    color: #000000!important;
}
#tabs2 ul li:last-child a::after{
    content: "";
}

#tabs2 ul li a{
    font-family: 'Montserrat', sans-serif;
    color: #000;
    font-size: 18px;
    padding: 0!important;
}

#tabs2 ul li.ui-state-active a{
    color: #0dac8b!important;
}

#tabs2 h2{
    font-size: 24px;
    font-weight: 400;
}

#tabbed-nav2{
    margin-top: 20px;
}

#tabbed-nav2 h2{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 22px;
    margin-bottom: 0;
    color: #000000;
}

.images{
    margin-left: -16px;
}

.images li{
    width: 297px;
    min-height: 230px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 20px 5px 0 5px;
    zoom: 1;
    *display: inline;
    _height: 230px;
}

.proofs li{
    margin-bottom: 20px;
}


.reseller-section{
    background: url(../img/coin-icon.png) no-repeat;
    padding: 0 0 0 180px;
    background-position: left center;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, sans-serif; 
    font-weight: normal;
    font-size: 13px;
    display: block;
}

/*========== Prices Styles ===========*/

section#prices{
    background: #fff;
    padding: 20px 0 60px;
    color: #000;
    font-size: 13px;
    font-family: "HelveticaNeue", "Helvetica Neue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
    font-weight: 300;
}

.high-notice{
    width: 680px;
    height: 160px;
    display: block;
    box-shadow: 0 0 7px rgba(0,0,0, .10);
    text-align: center;
    font-weight: bold;
    font-size: 16px;
    margin: 30px auto 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

.high-notice p{
    margin-bottom:-12px;
}

.center{
    text-align: center;
    margin: 0 auto;
    display: block;
    font-size: 14px;
    margin-bottom: 60px;
}

.center h4{
    margin-bottom: -20px;
    font-weight: 700;
}

.center p{
    margin-bottom: -10px;
    font-weight: bold;
}

section#prices h3{
    font-weight: 300;
}


.bitcoin{
    background: url("../img/bitcoin.png") no-repeat;
    background-position: right center;
    padding:0 300px 30px 0;
    border-bottom: 1px solid #f1f1f1;
}

.reloadit{
    background: url("../img/reloadit-card.jpg") no-repeat;
    background-position: right center;
    padding:0 300px 30px 0;
    border-bottom: 1px solid #f1f1f1;
}

.moneypak{
    background: url("../img/moneypak.png") no-repeat;
    background-position: right center;
    padding:0 300px 30px 0;
}

.left{
    width:485px;
    float: left;
    margin-right: 60px;
    display: inline;
    font-size: 14px;
    line-height: 27px;
}

.left h1, .right h1{
    margin-bottom: 30px;
}

.right{
    float: right;
    width: 415px;
    display: inline;
    font-size: 14px;
    line-height: 27px;
}

.right h4{
    margin-bottom: -22px;
}

/*==========  Footer styles ==========*/

section#footer{
    background: #191919;
    padding: 25px 0;
    color: #bbbbbb;
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;

}
section#footer .container{
    overflow: auto;
}

section#footer .large{
    font-size: 18px;
    color: #ffffff;
    margin-bottom: -10px;
}

.half{
    float: left;
    width:50%;
    display: inline-block;
}

.footer-nav{
    float: right;
    margin-top: 55px;
}

.footer-nav li{
    float: left;
    display: inline;
    margin-left: 25px;
}
.footer-nav li a{
    color: #ffffff;
    border-bottom: 1px solid #191919;
    -moz-transition: 0.2s all linear;
    -webkit-transition: 0.2s all linear;
    transition: 0.2s all linear;
    padding-bottom: 3px;
}

.footer-nav li a:hover{
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}




/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
(-o-min-device-pixel-ratio: 5/4),
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}