body
{
    border: 0px;
    background-color: #F3F3F3;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    border-spacing: 0;
}

#datatables tbody tr img, #SearchOrders tbody tr img {
    width: 100px;
}
.filter {
    width: 100%;
}


.main_table
{
    border: none;
    width: 1024px;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    border-spacing: 0;
}

.top_banner
{
    border:none;
    height: 180px;
    background-image: url(../images/top_banner.png);
    padding: 0px 0px 0px 0px;
    border-spacing: 0;
}

.navigation-menu
{
    border: none;
    float: left;
    margin: 0 auto;
    padding: 0px 0px 0px 0px;
    border-spacing: 0;
    background-color: #262626;
    border-collapse: collapse;
}

.navigation-menu tr
{
    border: 0px;
    background:url(../images/menu_bg.gif) no-repeat left top;
    background-color: #262626;
    padding: 0px 0px 0px 0px;
    border-spacing: 0;
    height: 25px;
    border-collapse: collapse;
}

.navigation-menu tr td
{
    display: inline-block;
    float: left;
    background:url(../images/menu_bg.gif) no-repeat right top;
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    font-weight: bold;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-spacing: 0;
    border-collapse: collapse;
}

.navigation-menu tr td a
{
    display: block;
    color:#fff;
    text-decoration:none;
    text-transform:uppercase;
    font-weight:bold;
    font-size:12px;
}

.navigation-menu tr td a:hover
{
    color:#c72d00;
}

.content_td
{
    border: 0px;
    padding: 0px 0px 0px 0px;
    border-spacing: 0;
    width: 100%;
    border-spacing: 0px;
}

.form_table
{
    border: none;
    width: 100%;
    margin: 0 auto;
    padding: 8px 8px 0 8px;
    border-spacing: 0;
    background-color: #ffffff;
    font-family: Helvetica;
}

.form_table th
{
    background-color: #978e43;
    color: #000000;
    padding-left: 10px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    height: 24px;
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    border-spacing: 0;
    border-collapse: collapse;
}

.form_table tr
{
    background-color: #F3F3F3;
    height: 24px;
    width: 100%;
    border-spacing: 0;
    border-collapse: collapse;
}

.form_table tr td
{
    font-size: 12px;
    color: #000000;
    height: 24px;
    border-spacing: 0;
    text-align: left;
    vertical-align: middle;
    padding-left: 20px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 10px;
    border-collapse: collapse;
}

.form_table_bottom
{
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    border-spacing: 0;
    background-color: #ffffff;
    font-family: Helvetica;
    text-align: center;
    vertical-align: middle;
}

.form_table_top_msg
{
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    border-spacing: 0;
    background-color: #ffffff;
    font-family: Helvetica;
    font-size: 12px;
    text-align: center;
    vertical-align: middle;
    color: red;
}

.display_table
{
    border: none;
    width: 100%;
    margin: 0 auto;
    padding: 8px 8px 0 8px;
    border-spacing: 0;
    background-color: #ffffff;
    font-family: Helvetica;
    word-wrap: normal;
}

.display_table tr
{
    background-color: #F3F3F3;
    height: 24px;
    width: 100%;
    border-spacing: 0;
}

.display_table tr th
{
    background-color: #978e43;
    color: #000000;	
    height: 24px;
    text-align: left;
    vertical-align: middle;
    font-size: 14px;
    border-spacing: 0;
    word-wrap: normal;
}

.display_table tr td
{
    font-size: 12px;
    color: #000000;
    height: 24px;
    border-spacing: 0;
    text-align: left;
    vertical-align: middle;
    word-wrap: normal;
}

.quick_order_steps
{
    width: 100%;
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    border-spacing: 0;
    background-color: #ffffff;
    font-family: Helvetica;
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
}

.form_table_bottom tr
{
    background-color: #ffffff;
    height: 24px;
    border-spacing: 0;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.form_table_bottom tr td
{
    background-color: #ffffff;
    font-size: 12px;
    color: #000000;
    height: 24px;
    border-spacing: 0;
    text-align: center;
    vertical-align: middle;
}

.input_text
{
    font-size: 12px;
    color: #000000;
    text-align: left;
    vertical-align: middle;
    padding-left: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 2px; 
}

.input_select
{
    font-size: 12px;
    color: #000000;
    vertical-align: middle;
    padding-left: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 2px;
}

.form_submit_button
{
    float: inherit;
    font-size:12px;
    font-weight: bold;
    border-style:solid;
    /*margin: 8px 8px 8px 180px;*/
    padding: 2px 8px;
    border-width:thin;
    text-align:center;
    border-color:#978E43;
    background-color: #DAD6AD;
}

.click_button
{
    font-size:12px;
    border-style:solid;
    /*margin: 8px 8px 8px 180px;*/
    padding: 2px 8px;
    border-width:thin;
    text-align:center;
    border-color:#978E43;
    background-color: #DAD6AD;
}

.error_message_label
{
    font-size: 12px;
    color: #FF0000;
}

.info_message_label
{
    font-size: 12px;
    font-weight: bold;
    color: #978E43;
}

a:link
{
    text-decoration: none;
}

a:active
{
    color: #AD4540;
    text-decoration: none;
}

a:visited
{
    color: #AD4540;
    text-decoration: none;
}

a:hover
{
    color: #AD4540;
    text-decoration: underline;
}